.App {
  text-align: center;
}
#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  text-align: center;
  background-color: #F5CE92;
  /* color: ; */
  font-size: 60px;
  padding: 7px;
 

}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  }
footer {
  height: 2rem;
  margin-top: 20px;
  text-align: center;
}
.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #0cb896ca;
  width: 100vw;
}
 