.App {
  text-align: center;
}

body {
  background-color: #0cb884ca;
}

#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


header {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

#headerLogo{
  max-width: 100%;
  margin: 20px;
  height: 150px;



}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  }
footer {
  height: 2rem;
  margin-top: 20px;
  text-align: center;
}
.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #0cb884ca;
  width: 100vw;
}

.footer-link {
  all: unset;
  cursor: pointer;
}
 

.audio {
  margin-top: 10px;
}

audio::-webkit-media-controls-panel {
    background-color: #00B893;
    
  }

audio::-webkit-media-controls-play-button{
  background-color: #008F72;
  border-radius: 50px;
}

audio::-webkit-media-controls-mute-button{
  background-color: #008F72;
  border-radius: 50px;
}