.App {
  text-align: center;
}

footer {
  height: 2rem; 
  padding: 10px;
  text-align: center;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.footer-links p {
  margin: 10px;
 }
 