.map-container {
    height: 1000px;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 30px;
  }
  
.sidebar {
    background-color: rgb(35 55 75 / 90%);
    color: #fff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    border-radius: 4px;
  }

.mapbox-gl marker{
  background: none;
}

.marker-delivered {
  background-image: url("../assets/map-marker-delivered.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.marker-not-delivered {
  background: none;
  background-image: url("../assets/map-marker-not-delivered.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}