.scroll-bar {
    background-color: #114c5058;
    border-radius: 10px;
    margin-top: 85px;
    margin-left: 20px;
    margin-bottom: 10px;
    width: 530px;
    height: 1000px;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

.scroll-bar:hover {
    overflow-y: auto;
}