.route-container {
    text-align: center;
    background-color: #F6D779;
    height: fit-content;
    width: 500px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24), 0 5px 5px 0 rgba(0,0,0,0.19);
}

.dark-button {
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 5px;
    font-size: 14px;
    background-color: #3C3F68;
    transition-duration: 0.3s;
    cursor: pointer;
    margin-left: 10px;
    color: white;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24),0 5px 5px 0 rgba(0,0,0,0.19);
}

.dark-button:hover {
    background-color: #2D304E;
}

.dark-button:active {
    transform: translateY(4px);
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.24);
}

.title{
    text-align: start;
}

#statusContainer{
    display: flex;
    justify-content: center;
    padding: 10px;
   
}

.update-status-button {
    border-radius: 7px;
    margin-top: 10px;
    height: 30px;
    background-color: #da9938;
    cursor: pointer;
}

#truck {
    margin-top: 2px;
}

.delivery-list {
    align-items: center;
    margin: 30px;
}

#delivery {
    text-align: start;
    border-color: #413763;
    border-style: solid;
    border-radius: 5px;
    margin: 5px;
    border-width: 2px;
    padding: 10px;
    background-color: #504476;
    color: white;
}

#delivery-id {
    font-weight: bold;
}