body {
    background-color: #058b70;
}

#fleet_title {
    margin-left: 40px;
    color: white;
    font-size: xx-large;
}

h3 {
    font-size: x-large;
}

.truck {
    text-align: center;
    margin-top: 40px;
    margin-left: 25%;
    margin-right: 25%;
    padding-left: 20px;
    max-height: 500px;
    border: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    background-color: #F6D779;
}

#truckImage{
    max-width: 230px;
    max-height: 400px;
    margin: auto;
}


.trucklist {
    padding-top: 40px;
    display: block;
    justify-content: space-around;
}

.truck_search {
    margin-left: 40px;
    width: 350px;
    max-width: 30vw;
    height: 38px;
    border-radius: 10px;
    float: left;
    padding-left: 10px;
    border-color: black;
    border-width: 2px;
}

.sort {
    display: flex;
    justify-content: end;
    margin-right: 50px;
    float: right;
    max-width: 30vw;
    width: 350px;
}

#sort_text {
    float:left;
    text-align: center;
    width: 250px;
    height: 45px;
    border-radius: 10px;
    background-color: white;
    border-color: black;
    border-width: 2px;
    font-size: 16px;
}

#availabilityContainer{
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 20%;
   
}

.updateStatusDropdown{
    background-color: #F6D779;
    border-color: #F6D779;
    margin: 10px;
    font-size: 17px;
    text-align: center;
}

#availabilityButton{
    border-radius: 7px;
    margin-top: 10px;
    height: 30px;
    background-color: #da9938;
}