.truck {
    text-align: left;
    border: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    margin: 10px;
    padding-left: 20px;
}

.trucklist {
    display: block;
    justify-content: center;
    
}